@import "tailwindcss";

@plugin "daisyui" {
  themes: dark, nord;
  defaultTheme: dark;
}

/* Global styles */
:where(html, body) {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
}

